/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

#portfolio {
	text-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.portfolio-item{
	position: relative;
}

.back{
    position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 1;
}


.portfolio-item:hover .front{
	opacity: 0;
	transition-duration:2s;
}


.portfolio-item:hover .back {
	z-index: 0;
	opacity: 1.0;
	transition-duration:2s;
	}
